* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

h2{
  padding-left: 1rem;

}

.pinCategory{
  font-style: italic;
  list-style: none;
}

/* Style général */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ctn-btn{
  text-align: right;
}

.btn-purple {
  background-color: #6a0dad;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;

}

/* Formulaires */
form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}
input[type="file"] {
  
  padding: 10px; 
  width: 100%; 
  box-sizing: border-box;
}

input[type="file"]::file-selector-button {
  background-color: #ffff; 
  color: #6a0dad;
  border: 2px solid #6a0dad;
  padding: 10px; 
  border-radius: 5px; 
  cursor: pointer; 
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
}

.sign-in{
  margin-top: 3rem;
}

/* Media query pour les écrans plus larges que 768px */
@media (min-width: 768px) {
  .form-container {
    grid-template-columns: 1fr 1fr; /* Met les formulaires côte à côte sur les grands écrans */
  }
}



/* Titre "Catégories" */
h1 {
  color: #6a0dad;
  padding-left: 1rem;
}

/* Catégories */
.categories {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content:center ;

}

.categories .category {
  border: 2px solid #6a0dad;
  border-radius: 1rem;
  padding: 0.5rem;
  display: inline-block;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.categories .category.selected {
  background-color: #dabfff; 
}

.categories .category.active {
  background-color: #6a0dad; 
  color: #fff;
}

/* Liste de pins */
.ctn-pin{
  margin-top: 3rem;
}
.pins {
  column-count: 3; 
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 1rem;
}

.pin {
  display: inline-block;
  width: 100%; 
  break-inside: avoid; 
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 1rem; 
}

.pin h3 {
  color: #6a0dad;
  font-size: 18px;
  margin-bottom: 10px;
}

.pin img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pin .categories {
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.pin .categories li {
  background-color: #dabfff;
  border: 1px solid #6a0dad;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 5px;
}

.no-pin {
  text-align: center; 
  width: 100%; 
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* Style du popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour l'effet de superposition */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 80%;
  overflow: auto; /* Si le contenu est trop grand, permettre le défilement */
}

/* Style du bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.close:hover {
  color: #555;
}

.popup-content img {
  max-width: 100%; /* L'image ne dépasse pas la largeur du popup */
  height: auto; /* Garde le ratio hauteur/largeur de l'image */
}